

.flexItems{
    display: flex;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
}

.flexQuantity{
    display: flex;
    align-items: center;
}

.txtContainer{
    
        margin-top: 15px;
        margin-left: 15px;
}

.txtName{
    font-size: 1.50rem;
    font-weight: 700;
}

.txtPrice{
    font-size: 1.25rem;
    font-weight: 600;
}

.txtQuantity{
    font-size: 1.25rem;
    font-weight: 600;
}
.buttonRemove{
    border: none;
    background: none;
    cursor: pointer;
    margin: 6px 5px 0px 5px;
}

a {
    color: #e91133 !important;
    text-decoration: none;
}
.imgCart {
    height: 5em;
    border-radius: 5px;
    margin: 20px;
}
.css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2rem;
    
}



@media (max-width:768px){
    .flexContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .flexItems{
        flex-direction: column;
    }

    .flexQuantity{
        flex-direction: column;
    }
}