.CardContainer {
 
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;

 
}
  a {
    color: #e91133;
    text-decoration: none;
  }
  .card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f1fbf9;
    background-clip: border-box;
    border: 1px solid  #045630;
    border-radius: 0.25rem;
    
}