.shipping-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    min-height: 70vh;
    
}
.shipping-image-container img{
    width: 100%;
}

.shipping-list li{
    font-size: 2rem;
    list-style: none;
    text-align: start;
    margin: 10px;
}