.Portada{
    width: 100%;
}
.imagenPortada {
    border-style: none;
    width: 100%;
    
   
}
.tituloHome{
    color: #e91133;
}
.contenedorCard{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 15px;
    justify-content: space-evenly;
   
    
}